html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: $dark;
}

.dark {
  background-color: $dark;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;
}

p {
  @extend %base;
}

h1 {
  font-family: Oswald;
  font-size: 116px;
  font-style: normal;
  font-weight: 300;
  line-height: 132px; /* 113.793% */
  text-transform: uppercase;

  @include media(1440px) {
    @include fluidTable(font-size, 68, 116);
    @include fluidTable(line-height, 80, 132);
  }

  @include media(760px) {
    @include fluidTable(font-size, 56, 68);
    @include fluidTable(line-height, 64, 80);
  }
}

h2 {
  font-family: Oswald;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 125% */
  text-transform: uppercase;
}

h3 {
  font-family: Oswald;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
  text-transform: uppercase;
}

h4 {
  font-family: Oswald;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  text-transform: uppercase;
}

%base {
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

%base-component {
  font-family: Oswald;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  text-transform: uppercase;
}

%decoration {
  font-family: Oswald;
  font-size: 48px;
  font-style: normal;
  font-weight: 300;
  line-height: 54px; /* 112.5% */
  text-transform: uppercase;
}

%small {
  font-family: Mulish;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
}

%base-italic {
  font-family: Mulish;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 20px;
}

%accent-text {
  transition: all 0.2s;

  &:hover {
    color: $accent;
  }
}

%accent-btn {
  transition: all 0.2s;

  &:hover {
    color: $dark;
    background-color: $accent;
  }
}