/* =========== Fonts ============ */

$font-main: "Mulish", sans-serif;
$font-second: "Oswald", sans-serif;

/* =========== Colors ============ */

$white: #ffff;
$dark: #222222;
$accent: #FF3C3C;
$grey: #989898;