.about {
  min-height: 628px;
}
.container-about {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 60px 20px;
}
.about-block {
  width: 33.3%;
  display: flex;
  flex-direction: column;
  gap: 40px;

  img {
    width: 100%;
  }
}
.about__title-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.about__first-block {
}
.about__second-block {
}
.about__third-block{
}